* {
  margin: 0;
  padding: 0;
}

.clr {
  clear: both;
}

/* div, nav {
    border: solid 1px blue;
} */

body {
  background-color: black;
  font-family: "Nova Flat", "Helvetica", "Ariel";
  font-size: 22px;
}

/* all */
.container {
  width: 80%;
  margin: auto;
}

nav {
  top: 0;
  position: fixed;
  width: 80%;
  /* border: solid 1px white; */
}

nav ul {
  float: right;
  margin-right: 25px;
}

.banner {
  max-width: 100%;
  height: auto;
}

nav li, .handle {
  display: inline-block;
  background: #FFC740;
  padding: 10px;
  margin: 0 5px;
  border-radius: 0 0 10px 10px;
  border-bottom: 3px solid rgba(211,211,211,0.5);
  border-left: 3px solid rgba(211,211,211,0.5);
  border-right: 3px solid rgba(211,211,211,0.5);
}

nav a {
  text-decoration: none;
  color: black;
  font-family: 'Gruppo', Helvetica;font-size: 22px
}

.handle {
  font-family: 'Gruppo', Helvetica;font-size: 22px;
  display: none;
}

header {
  background-color: black;
  text-align: center;
}

main {
    background-color: #E7DBFF;
    border-radius: 20px;
    padding: 50px;
}

h1, h3 {
  text-align: center;
  margin-bottom: 27px;
}

p {
  letter-spacing: 1px;
  line-height: 25px;
  margin: 1em 0;
}

footer {
  text-align: center;
  color: #AF8C37;
  padding: 50px;
}

.welc2 {
  display: none;
}

/* mobile */
@media (max-width: 820px){
  .banner {
    content: url("images/Small - resize purple.png");
    max-height: 200px;
  }
  nav ul {
    display: none;
  }
  nav ul li, .handle {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    border-radius: 0;
  }
  .handle {
    display: block;
    position: fixed;
    top: 0;
    width: 80%;
    border-radius: 0 0 10px 10px;
    z-index: 5;
  }
  header {
    position: relative;
    top: 45px;
  }
  .welc {
  display: none;
}
  .welc2 {
    display: block;
  }
  h1 {
    font-size: 28px;
  }
  main {
    position: relative;
    top: 45px;
    padding: 50px 15px;
    z-index: 1;
  }
}

/* tablet */
@media (min-width: 821px) and (max-width: 1300px) {
  header {
    margin-top: 50px;
  }
  nav ul {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .handle {
    display: none;
  }
}
